---
title: Woody Wood!
---

    <!-- Banner code -->
    <div class="banner">
      <div class="banner-content">
        <h1>WOODY WOOD</h1><br>
        <p>Do you like wooden stuff? Welcome to your home!</p><br><br>
        <form action="http://www.silverwaterbox.com.au/images/products/wholesale-timber-01.jpg" class="form-inline">
          <input type="check-in" class="form-control" placeholder="Check-in?">
          <input type="check-out" class="form-control" placeholder="Check-out?">
          <select class="form-control" selected="0">
            <option value="0">Trees to chop</option>
            <option value="1">1 tree</option>
            <option value="2">2 trees</option>
            <option value="3">3 trees</option>
            <option value="3">Full forest (extra$)</option>
          </select>
          <input type="submit" value="TIMBER!" class="btn btn-success">
        </form>
      </div>
    </div>

    <!-- Features code -->
    <div class="gray-wrapper">
      <div class="container">
        <div class="row">
            <div class="features text-center">
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="feature text-center">
                  <%= image_tag "globe.png", class: "image-small" %>
                  <h3>Discover the world</h3>
                  <p>Chop wood all over the world.</p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="feature text-center">
                  <%= image_tag "dollar.png", class: "image-small" %>
                  <h3>Pay online</h3>
                  <p>No cash, less paper, more trees.</p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="feature text-center">
                  <%= image_tag "beer.png", class: "image-small" %>
                  <h3>Meet people</h3>
                  <p>Drink like a lumberjack.</p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="feature text-center">
                  <%= image_tag "heart.png", class: "image-small" %>
                  <h3>Share and love</h3>
                  <p>Find a mate (not wooden).</p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

    <!-- Your cards code -->

    <div class="cards-wrapper">
      <h2 class="text-center">Your next chopping trip</h2><br>
      <div class="container">
        <div class="row">
          <% data.forests.each do |owner, forest| %>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path forest.picture %>');">
                <div class="card-category"><%= forest.type.upcase %></div>
                <div class="card-avatar"><%= image_tag forest.owner_picture, class:"avatar-med" %></div>
                <div class="card-title"><%= forest.name %></div>
                <div class="card-description"><%= forest.summary %></div>
                <%= link_to "#", "forests/#{owner}.html", class: "card-link" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Your newsletter code -->
    <div class="gray-wrapper text-center">
      <div class="newsletter">
        <h2>Get news from us</h2>
        <p>Leave us your mail and get news from us</p>
        <div class="input-group">
        <input type="text" class="form-control" placeholder="Your email...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
        </div>
      </div>
    </div>

    <!-- Your map code -->
    <div id="map" style="width: 100%; height: 400px;"></div>

      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

      <script type="text/javascript">
      var myLatlng = new google.maps.LatLng(-4.034954, -63.036665);

      var myOptions = {
        zoom: 10,
        center: myLatlng,
        scrollwheel: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        styles: [{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"water","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#C6E2FF"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"color":"#C5E3BF"}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"color":"#D1D1B8"}]}]
      };

      var map = new google.maps.Map(document.getElementById('map'), myOptions);
      var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: "You are here!"
      });
      </script>

